html, body {
  height: 100%;
}

.canvas-container canvas {
  position: absolute;
}

.border {
  border: dotted;
  border-width: 1px;
}

.height12 {
  height: 100%;
}

.height9 {
  height: 75%;
}

.height6 {
  height: 50%;
}

.height3 {
  height: 25%;
}

.height2 {
  height: 16.67%;
}

.height1 {
  height: 8.33%;
}

.inspector-container {
  overflow: auto;
}

.pattern-container {
  overflow: auto;
}

.pattern-container canvas + canvas {
  border-left: 1px solid #e3e3e3;
}
