html, body {
  height: 100%;
}

.canvas-container canvas {
  position: absolute;
}

.border {
  border: dotted;
  border-width: 1px;
}

.height12 {
  height: 100%;
}

.height9 {
  height: 75%;
}

.height6 {
  height: 50%;
}

.height3 {
  height: 25%;
}

.height2 {
  height: 16.67%;
}

.height1 {
  height: 8.33%;
}

.inspector-container {
  overflow: auto;
  position: relative;
}

.pattern-container {
  overflow: auto;
  position: relative;
}

/* row-fluid for span divs*/
.pattern-container form {
  margin-left: 2.564102564102564%;
}

/* So the pattern brushes do not move/readjust positions when selecting another brush. */
.pattern-container canvas + canvas {
  border-left: 1px solid transparent;
}

.pattern-container canvas:not(.selected) + canvas:not(.selected) {
  border-left: 1px solid #e3e3e3;
}

.pattern-container .selected {
  outline: 2px solid #cccccc;
  outline-style: dashed;
}

.pattern-container {
  padding-left: 0;
  padding-right: 0;
}

/* Size textarea to fit modal (in center). */
.modal textarea {
  margin-left: auto;
  margin-right: auto;
  width: 515px;
}

/* Space buttons in navbar more evenly. */
.btn-group {
  margin: 5px;
}

.btn-group input {
  margin-top: 0;
}

/* Tighten up form inputs. */
.form-horizontal .control-group {
  margin-bottom: 0;
}

.control-label {
  font-size: 12px;
}
